.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__star__icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__title {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  &__title,
  &__price,
  &__color {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
  }

  &__btn {
    cursor: pointer;
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 10px;
    border: transparent;
    outline: none;
    color: white;
    background-color: black;
    opacity: 0;
    transition: all 0.5s ease;

    &:hover {
      color: black;
      background-color: white;
      border: 1px solid black;
    }
  }

  &:hover &__btn {
    opacity: 1;
  }
}
