.btn {

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.4s ease-in;

  &.red{
    background-color: rgb(223, 136, 136);

    &:hover{
      background-color: white;
      color: rgb(223, 136, 136);
      border: 1px solid rgb(223, 136, 136);
    }
  }

  &.blue{
    background-color: rgb(133, 176, 222);

    &:hover{
      background-color: white;
      color: rgb(133, 176, 222);
      border: 1px solid rgb(133, 176, 222);
    }
  }

}

