.header {
  display: flex;
  flex-direction: column;
  position: relative;

  &__logo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  &__icon__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    padding: 20px 20px 0 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 1;

    .star__icon {
      cursor: pointer;

      &:hover {
        background-image: url(../../../public/images/icons/star.png);
      }
    }

    .basket__icon {
      cursor: pointer;

      &:hover {
        background-image: url(../../../public/images/icons/basket.png);
      }
    }

    .icon__text {
      font-size: 22px;
    }

    img {
      margin: 0 5px 0 10px;
    }
  }
}
