.modal {
  font-family: "Inter", sans-serif;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: rgb(163, 201, 241);
  color: white;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);

  &__header {
    border-radius: 6px 6px 0 0;
    padding: 20px;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(122, 181, 245);

    &__title {
      text-align: left;
    }

    &__btn {
      align-self: flex-start;
      font-size: 28px;
      font-weight: 200;
      border: none;
      background-color: transparent;
      font-family: "Inter", sans-serif;
      color: white;
      cursor: pointer;
      transition: all 0.4s ease-in;

      &:hover {
        color: rgb(59, 146, 238);
        font-weight: 600;
      }
    }
  }

  &__content {
    padding: 20px;

    &__text {
      padding: 20px 0;
      line-height: 24px;
    }

    &__btn {
      margin: 20px;
      margin-bottom: 0;
      padding: 20px;
      background-color: rgb(102, 167, 236);
      color: white;
      border: 1px solid transparent;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.4s ease-in;

      &:hover {
        background-color: white;
        color: rgb(102, 167, 236);
        border: 1px solid rgb(102, 167, 236);
      }
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
