.modal {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 20px 20px 20px;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__btn {
      font-size: 28px;
      font-weight: 200;
      border: none;
      background-color: transparent;
      color: black;
      cursor: pointer;
      transition: all 0.4s ease-in;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__content {
    &__text {
      line-height: 24px;
      padding: 20px 0;
      font-weight: 200;
    }

    &__btn {
      margin: 20px 10px;
      margin-bottom: 0;
      padding: 10px;
      background-color: black;
      color: white;
      border: 1px solid black;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.5s ease-in;
      font-weight: 200;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
