.order__form {
  max-width: 60%;
  margin: 0 auto;
  &__title {
    font-weight: 200;
    font-size: 22px;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  &__btn {
    outline: none;
    border: 1px solid #bd9773;
    background-color: #bd9773;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: block;
    margin: 20px 0 20px auto;
    &:hover {
      background-color: white;
      color: #bd9773;
    }
  }
}

@media screen and (max-width: 600px) {
  .order__form {
    max-width: 100%;
    &__title {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 480px) {
  .order__form {
    &__btn {
      width: 100%;
    }
  }
}
