body{
    background-color: #7D8491;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container{
    background-color: #EAEBEA;
    width: 480px;
    height: 300px;
    margin: 10px auto;
    
}

.tweet_container{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 265px;
    justify-content: space-evenly;
}

.title{
    text-transform: uppercase;
    padding: 0 15px;
    margin: 0;
    color:  #1b1b1b;
}


.content{
    margin: 0;
    padding: 15px 5px;
    color: #1b1b1b;
}

.author_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    color: #1b1b1b;
    font-weight: 600;
}

a{
    color: #1b1b1b;
}

.btn_container{
    display: flex;
    justify-content: flex-end;
}

.close_btn{
    padding: 0 15px;
    font-size: 22px;
    cursor: pointer;
    color: #1b1b1b;
}

.close_btn:hover{
    font-weight: 600;
}