.header {
  position: relative;

  &__logo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 20px 40px 20px 20px;

    &__item {
      margin-left: 20px;
      cursor: pointer;
    }

    a {
      color: black;
      text-decoration: none;
      transition: color 0.2s ease-in;

      &.active {
        color: #bd9773;
      }
    }
  }

  &__list {
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
    display: flex;
  }

  .burger__menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
  }

  .bar {
    display: block;
    width: 40px;
    height: 1px;
    margin: 15px auto;
    transition: all 0.3s ease-in-out;
    background-color: #bd9773;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__nav {
      min-height: 60px;
    }
    &__list {
      display: none;
      position: absolute;
      right: -100%;
      top: 22px;
      gap: 0;
      flex-direction: column;
      background-color: white;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: 0.3s;
      li {
        padding: 20px 0;
      }
    }
    .burger__menu {
      display: block;
    }

    .burger__menu.active .bar:nth-child(2) {
      opacity: 0;
    }
    .burger__menu.active .bar:nth-child(1) {
      transform: translateY(16px) rotate(45deg);
    }
    .burger__menu.active .bar:nth-child(3) {
      transform: translateY(-16px) rotate(-45deg);
    }
  }

  .header__list.active {
    margin-top: 30px;
    display: block;
    right: 0;
    li {
      margin: 0;
      font-size: 23px;
    }
  }
}
