.header_section {
  perspective: 1px;
}

.header_banner {
  width: 100%;
  height: 596px;
  background-image: url(../images/background\(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: bottom;
  position: relative;
  overflow: hidden;
  transform: translateZ(-1px) scale(2);
}
.header_banner::before {
  display: block;
  content: "";
  width: 50%;
  height: 140px;
  background: #fff;
  position: absolute;
  bottom: -70px;
  left: 0;
  transform: skewY(8deg);
}
.header_banner::after {
  display: block;
  content: "";
  width: 50%;
  height: 140px;
  background: #fff;
  position: absolute;
  bottom: -70px;
  right: 0;
  transform: skewY(-8deg);
}
.page_header {
  background: #ffffff;
  margin-top: 25px;
}
.container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav_list {
  display: flex;
  width: 595px;
  justify-content: space-between;
}
.page_logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #424f57;
}
.header_accent_color {
  color: #14afca;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #424f57;
}
.nav_link.accent {
  color: #14afca;
}
.header_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 149px;
}
.section_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  color: #14afca;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
}
.section_subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #424f57;
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 20px;
}
.section_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #424f57;
  padding-bottom: 80px;
}
.our_clients {
  perspective: 1px;
}
.clients_banner {
  width: 100%;
  height: 680px;
  background-image: url(../images/background\(2\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: right 50% top 20%;
  position: relative;
  overflow: hidden;
  transform: translateZ(-1px) scale(2);
}
.clients_banner::before {
  display: block;
  content: "";
  width: 50%;
  height: 200px;
  background: #fff;
  position: absolute;
  top: -140px;
  left: 0;
  transform: skewY(8deg);
}
.clients_banner::after {
  display: block;
  content: "";
  width: 50%;
  height: 200px;
  background: #fff;
  position: absolute;
  top: -140px;
  right: 0;
  transform: skewY(-8deg);
}
.section_title.background {
  padding-top: 160px;
}
.section_subtitle.background {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
  color: #ffffff;
  padding-bottom: 40px;
}
.clients_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 120px 60px;
}
.adobe_icon {
  width: 225px;
  height: 99px;
  background: #fcfbfb;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.team {
  padding-bottom: 80px;
}
.team_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
}
.team_member_img {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.team_member_text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #424f57;
}
.comments {
  perspective: 1px;
}
.comments_banner {
  width: 100%;
  height: 680px;
  background-image: url(../images/background\(2\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: right 50% top 30%;
  position: relative;
  overflow: hidden;
  transform: translateZ(-1px) scale(2);
}
.comments_banner::before {
  display: block;
  content: "";
  width: 50%;
  height: 200px;
  background: #fff;
  position: absolute;
  top: -140px;
  left: 0;
  transform: skewY(8deg);
}
.comments_banner::after {
  display: block;
  content: "";
  width: 50%;
  height: 200px;
  background: #fff;
  position: absolute;
  top: -140px;
  right: 0;
  transform: skewY(-8deg);
}
.comment_text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  color: #d3cccc;
  text-align: center;
  padding-bottom: 28px;
}
.comment_author {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #ffffff;
  display: block;
  text-align: right;
  padding-right: 210px;
}
.comments_block::before {
  display: block;
  content: "";
  width: 50%;
  height: 140px;
  background: #fff;
  position: absolute;
  bottom: -70px;
  left: 0;
  transform: skewY(8deg);
}
.comments_block::after {
  display: block;
  content: "";
  width: 50%;
  height: 140px;
  background: #fff;
  position: absolute;
  bottom: -70px;
  right: 0;
  transform: skewY(-8deg);
}
.section_title.background.comments_title {
  padding-top: 200px;
}
.advantages_text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #424f57;
}
.page_footer {
  padding-top: 96px;
  padding-bottom: 88px;
}
.footer_text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #3d3c3c;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
