.slider-wrap {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  position: relative;
}

.slider {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider .opacity0 {
  opacity: 0;
}

.image-to-show {
  width: 400px;
  height: 400px;
  position: absolute;
  opacity: 1;
  transition: all ease 1s;
}

.btn {
  margin: 10px 10px 0 35px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: white;
  background-color: darkblue;
  border: 1px solid darkblue;
  border-radius: 4px;
  cursor: pointer;
}
