.cart__product {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin: 20px 0;
  box-shadow: 5px 5px 20px -1px rgba(0, 0, 0, 0.3);

  &__info,
  &__counter,
  &__sum {
    align-self: center;
    font-weight: 200;
    margin: 0 50px;
  }

  &__title {
    font-weight: 200;
  }

  &__delete {
    align-self: flex-start;
    padding: 0 10px;
  }

  &__info {
    font-size: 16px;
    flex-grow: 1;
  }

  &__counter {
    display: flex;
    align-items: center;
    margin: 0 40px;
    button {
      border: none;
      background-color: white;
      font-size: 35px;
      cursor: pointer;
      font-weight: 200;
      transition: all 0.2s ease-in;
      &:hover {
        font-weight: 600;
      }
    }
    span {
      font-size: 20px;
      padding: 0 20px;
    }
  }
  &__delete {
    border: none;
    background-color: white;
    font-size: 35px;
    cursor: pointer;
    font-weight: 200;
    transition: all 0.2s ease-in;
    &:hover {
      font-weight: 600;
    }
  }
}
