body{
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
}

.btn{
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(91, 91, 233);
    color: white;
    font-size: 22px;
    outline: none;
}
.btn:active{
    background-color: blue;
}
.btn:hover{
    color: pink;
}
ul{
    margin: 20px 0 0;
    padding-left: 20px;
}
li{
    font-size: 18px;
}