.to_top {
  display: none;
  color: #18b4cf;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 700;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
}
.to_top:hover {
  cursor: pointer;
}
.show {
  display: inline-block;
}
.page_header {
  width: 100%;
  height: 70px;
  background: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: flex;
  max-width: 205px;
  align-items: center;
}
.image_logo {
  margin-right: 27px;
  margin-left: 27px;
}
.title_logo {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.navigation {
  flex-grow: 3;
}
.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_list_item {
  margin-right: 35px;
}
.nav_list_link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.nav_list_link:hover {
  color: #14b9d5;
}
.search_icon {
  width: 68px;
  height: 70px;
  background: #000000;
}
.search_icon_image {
  margin: 26px;
}
.header_banner {
  height: 369px;
  background-image: url(../images/background_images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.container.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 637px;
}
.header_banner_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-top: 163px;
  margin-bottom: 44px;
}
.banner_btn {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  width: 170px;
  height: 55px;
  cursor: pointer;
}
.banner_btn.green {
  border: 1px solid #89ca62;
  background-color: #89ca62;
  border-radius: 5px;
  margin-right: 20px;
}
.banner_btn.blue {
  border: 1px solid #14b9d5;
  background-color: #14b9d5;
  border-radius: 5px;
}
.hide_btn {
  display: block;
  margin: 10px auto;
}
.section_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  padding: 50px 0;
}
.posts_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  align-content: space-between;
}
.posts_item {
  margin-bottom: 30px;
}
.section_subtitle {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding: 21px 0;
}
.client_section {
  height: 588px;
  background-image: url(../images/background_images/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}
.container.clients {
  height: 588px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
}
.client_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-self: end;
}
.line {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  align-self: center;
}
.client_list {
  display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 55px;
  grid-auto-flow: column;
  align-self: start;
}
.rated_list {
  display: grid;
  grid-auto-flow: column;
}
.news {
  margin-bottom: 71px;
}
.news_link.first {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: right;
}
.news_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px 60px;
  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.news_item.first {
  grid-area: item1;
}
.news_item.second {
  grid-area: item2;
}
.news_item.third {
  grid-area: item3;
}
.news_item.fourth {
  grid-area: item4;
}
.news_item.fifth {
  grid-area: item5;
}
.news_item.sixth {
  grid-area: item6;
}
.news_item.seventh {
  grid-area: item7;
}
.news_item.eighth {
  grid-area: item8;
}
.news_item {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.news_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
  margin: 14px;
}
.news_title.small {
  text-align: center;
}
.news_text {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  padding: 0 14px;
}
.page_footer {
  height: 80px;
  background: #000000;
}
.copyright {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}
.container.footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 80px;
}
.footer_image {
  display: inline;
}
.copyright {
  justify-self: start;
}
.footer_images {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
}
