.section__title {
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}
.cart {
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 23px;
    }

    & > a {
      border: 1px solid black;
      text-decoration: none;
      background-color: black;
      color: white;
      font-size: 20px;
      font-weight: 200;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in;
      display: block;
      margin: 20px 0;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .section__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .cart {
    &__footer {
      flex-direction: column;
      align-items: flex-start;

      &__text {
        font-size: 20px;
      }

      & > a {
        width: 100%;
        text-align: center;
      }
    }
  }
}
