.input:focus {
  border: 2px solid green;
}
.page_input {
  display: block;
  outline: none;
}
.active_input {
  color: green;
}
.error_input {
  border: 2px solid red;
}
.close_btn {
  cursor: pointer;
}
