*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.page_header {
  padding-top: 25.5px;
}
.container {
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.page_nav {
  padding-bottom: 25.5px;
}
.nav_list {
  display: inline;
  padding: 0;
}
.nav_item {
  display: inline;
  margin-right: 72px;
}
.nav_item.last {
  margin-right: 0;
}
.item_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}
.main_image {
  width: 100%;
  margin-bottom: 49px;
}
.section_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 0;
  margin-bottom: 38px;
}
.section_content {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 0;
  margin-bottom: 28px;
}
.btn {
  margin-top: 84px;
  margin-bottom: 99px;
}
.section_btn {
  border: 1px solid #ff0000;
  border-radius: 4px;
  background: #ff0000;
  padding: 18px 43px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
}
.page_footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-bottom: 29px;
}
.container.footer {
  text-align: right;
}
