.thank-you {
  &__container {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
  }

  &__text {
    font-weight: 200;
    font-size: 25px;
    margin: 5px 0;
    a {
      color: #bd9773;
    }
  }
}
