.wrapper {
  width: 100%;
  min-height: 100%;
  background: #3a4965;
}
.page_table {
  width: 1143px;
  height: 684px;
  background: #fafafa;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
thead tr:nth-child(even),
tfoot tr {
  background: #fafafa;
}

tbody tr:nth-child(odd) {
  background: #f2f2f2;
}

tbody tr:nth-child(even) {
  background: #e3e3e3;
}
th,
td {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.table_header {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
  background: #fafafa;
}
.accent_font {
  font-size: 30px;
}

.table_header_data {
  height: 73px;
}
.table_header_data {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
.green {
  background: #89c331;
}
.blue {
  background: #20807c;
}
.red {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f04a56;
}
.table_header_price {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  color: #484848;
  height: 85px;
  width: 280px;
}
.dollar_price {
  font-weight: 700;
  font-size: 60px;
  line-height: 28px;
  position: relative;
  left: 30px;
  top: 15px;
}
.coins_price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  top: -20px;
  left: 13px;
}
.month_price {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  left: -22px;
  top: -7px;
}
.column_title_image {
  display: inline;
  margin-right: 4px;
}
tbody > tr {
  height: 72px;
}
.column_title {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #484848;
}
.table_data {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
}
.table_footer {
  height: 110px;
}
.column_btn {
  background: #dddddd;
}
.btn {
  border-radius: 4px;
  width: 195px;
  height: 52px;
  border: none;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.grey {
  background: #484848;
}
.row_btn {
  background: #eeeeee;
}
.special_btn {
  background: #f4f4f4;
}
/* font-family: 'Arimo', sans-serif; */
