.error {
  &__container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
  }

  &__title {
    font-weight: 200;
    font-size: 30px;
    margin: 20px 0;
  }

  &__text {
    font-size: 25px;
    text-align: center;

    a {
      color: #bd9773;
    }
  }
}

@media screen and (max-width: 500px) {
  .error {
    &__title {
      font-size: 25px;
    }
    &__text {
      font-size: 20px;
    }
  }
}
