.wrapper {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}
.page_header {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_container {
  width: 1210px;
  margin-left: auto;
  margin-right: auto;
}
.nav_list {
  display: flex;
  height: 58px;
  justify-content: space-between;
  align-items: center;
}
.logo_item {
  flex-grow: 3;
}
.nav_item {
  margin-right: 25px;
}
.log_in_sign_up,
.log_in_sign_up_link {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.log_in_sign_up_link:hover {
  color: #01813f;
  transition: 0.3s;
}
.nav_img path {
  fill: #ffffff;
}
.nav_img:hover path {
  fill: #01813f;
  transition: 0.3s;
}
.section_form {
  min-height: 100vh;
  position: relative;
}
.page_form {
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  font-weight: 400;
  padding-top: 31px;
  margin-left: 60px;
}
.form_title::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  display: block;
  position: absolute;
  margin-left: -60px;
}

.form_header {
  display: flex;
  justify-content: space-between;
}
.form_link {
  margin-top: 33px;
  margin-right: 59px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.form_link:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}
.form_container {
  width: 324px;
  margin-left: auto;
  margin-right: auto;
}
.form_btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.form_btn {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fb {
  background: #305db8;
}
.fb:hover {
  background: #022263;
  transition: 1s;
}
.google {
  background: #df4a32;
}
.google:hover {
  background: #ab1f09;
  transition: 1s;
}
.btn_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.form_alternative {
  margin: 30px 0 12px 0;
}
.alternative_text {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
}
.alternative_text::before {
  content: "";
  width: 152px;
  height: 0px;
  border: 1px solid #f2f2f2;
  display: inline-block;
}
.alternative_text::after {
  content: "";
  width: 152px;
  height: 0px;
  border: 1px solid #f2f2f2;
  display: inline-block;
}
.form_input {
  width: 324px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: 0;
  margin-bottom: 15px;
}
.form_input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}
.form_input:focus {
  width: 322px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form_input[type="text"],
.form_input[type="email"],
.form_input[type="password"] {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 20px;
}
.checkbox {
  position: relative;
}
.checkbox_label {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 28px;
  cursor: pointer;
}
.checkbox_label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.checkbox_label::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/checkbox.svg) no-repeat;
  background-size: 14px 14px;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
  opacity: 0;
}
.checkbox_link {
  color: #3cb878;
}
.checkbox_input {
  appearance: none;
  position: absolute;
}
.checkbox_input:checked + .checkbox_label::after {
  opacity: 1;
}
.checkbox_link:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}
.create_btn {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 20px;
}
.create_btn:hover {
  background: #01813f;
  transition: 1s;
}
