.section__title {
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}
.cart {
  &__btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: block;
    margin: 20px 0;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 23px;
    }
  }
}
