.header {
  &__logo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 20px 40px 10px 20px;

    &__item {
      margin-left: 20px;
      cursor: pointer;
    }

    a {
      color: black;
      text-decoration: none;
      transition: color 0.2s ease-in;

      &.active {
        color: #bd9773;
      }
    }
  }
}
