body{
    box-sizing: border-box;
}

h1, h2{
    display: flex;
    justify-content: center;
   
}

li{
    text-transform: capitalize;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

ol{
    border-bottom: 5px dotted black;
    padding-bottom: 20px;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid black;
    border-radius: 100%;
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;
}
#loading.display {
    display: block;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}