.wrapper {
  width: 100%;
  min-height: 100%;
  background: #3a4965;
}
.page_table {
  width: 1143px;
  height: 612px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  border-collapse: collapse;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
td,
th {
  width: 160px;
}
tr {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.odd_columns {
  background: #fafafa;
}
.even_columns {
  background: #e3e3e3;
}
.table_header {
  border-bottom: 10px solid #3a4965;
}
.header_data {
  width: 201px;
}
.first_cell {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  height: 115px;
}
.accent_font {
  font-size: 20px;
  margin-top: -10px;
}
.header_icon_text {
  font-size: 20px;
  line-height: 28px;
}
.header_icon_image {
  display: inline;
}
.price_types {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.price_accent {
  font-size: 36px;
  margin-top: 5px;
  position: relative;
  left: -30px;
}
.price_accent::before {
  content: ".99";
  font-size: 18px;
  position: relative;
  top: -15px;
  left: 65px;
}
.price_accent::after {
  content: "per Month";
  font-size: 14px;
  position: relative;
  top: -10px;
  left: 30px;
}
.green {
  background: #89c331;
}
.red {
  background: #f04a56;
}
.blue {
  background: #20807c;
}
.table_btn {
  border: none;
  border-radius: 4px;
  width: 147px;
  height: 44px;
  background: #414141;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 13px;
  cursor: pointer;
}
/* font-family: 'Arimo', sans-serif; */
