.loader {
  &__container {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-weight: 200;
    font-size: 20px;
    padding: 30px 0;
  }
}

.display {
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__img {
    margin-left: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .display {
    &__container {
      display: none;
    }
  }
}
