body {
  background-color: aliceblue;
}

.container {
  width: 1280px;
  margin: auto;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  margin-top: 63px;
  margin-bottom: 38px;
  display: block;
}
.accent_color {
  color: blue;
}
.header_nav {
  background: #35444f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  margin-bottom: 48px;
}
.header_nav_item {
  border: 1px solid #ffffff;
}
.header_nav_link {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 26px 35px 19px;
}
.header_nav_item:hover {
  background: #222f3a;
}
.header_nav_item:hover .header_nav_link {
  color: blue;
  font-weight: 700;
  transition: all 0.1s ease;
}
.aside {
  float: left;
  margin-right: 49px;
}
.aside_nav {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.aside_nav_list {
  width: 344px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aside_list_item {
  height: 81px;
}
.aside_list_item:hover {
  background-color: #cde1fd;
}
.aside_nav_link {
  font-size: 27px;
  line-height: 27px;
  color: #000000;
  display: block;
  margin-left: 44px;
  margin-top: 21px;
}
.aside_list_item:hover .aside_nav_link {
  color: blue;
  font-weight: 700;
}
.page_main {
  width: 885px;
  display: flex;
  flex-wrap: wrap;
}
.image_div {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_div:hover {
  background-color: #cde1fd;
}
.main_image {
  background: rgba(0, 0, 0, 0.0001);
}
.image_div:hover .main_image {
  transform: scale(1.2);
  transition-duration: 750ms;
  transition-timing-function: ease-out;
}
.main_content {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 34px;
}
.footer_nav {
  padding-bottom: 30px;
}
.footer_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 69px;
  background: #35444f;
  margin-top: 20px;
}
.footer_link {
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
}
.footer_link:hover {
  border-bottom: 3px solid blue;
  color: blue;
  padding-bottom: 5px;
}
.footer_list_item {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.footer_list_item.last {
  margin-right: 135px;
}
